/**
 * Night Owl theme for Prism.js
 * Based on Night Owl by Sarah Drasner
 * https://github.com/sdras/night-owl-vscode-theme
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.9rem;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, 
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, 
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

pre[class*="language-"]::selection, 
pre[class*="language-"] ::selection,
code[class*="language-"]::selection, 
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  background: #011627;
  border-radius: 0.5rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #011627;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
  background: #011627;
  color: #d6deeb;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #637777;
  font-style: italic;
}

.token.punctuation {
  color: #c792ea;
}

.namespace {
  color: #b2ccd6;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #80cbc4;
}

.token.tag,
.token.operator,
.token.keyword {
  color: #7fdbca;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: #82aaff;
}

.token.selector,
.token.doctype {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: #ecc48d;
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: #ffcb8b;
}

.token.regex,
.token.important,
.token.variable {
  color: #d6deeb;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
